.css_idtemplate_label { }
.css_idtemplate_line {text-align:left;}
.css_idtemplate_obj {text-align:left;}
.css_templatename_label { }
.css_templatename_line { }
.css_templatename_obj { }
.css_deskripsi_label { }
.css_deskripsi_line { }
.css_deskripsi_obj { }
.css_targetwaktu_label { }
.css_targetwaktu_line { }
.css_targetwaktu_obj { }
.css_idwitel_label { }
.css_idwitel_line {text-align:left;}
.css_idwitel_obj {text-align:left;}
.css_iddivre_label { }
.css_iddivre_line {text-align:left;}
.css_iddivre_obj {text-align:left;}
.css_tahapanproject_label { }
.css_tahapanproject_line { }
.css_tahapanproject_obj { }
