.css_tp_idlop_fil_label {width:20px;}
.css_tp_idlop_fil_line {width:20px;}
.css_tp_idlop_fil_obj {width:20px;}
.css_blk_1 {vertical-align:middle;text-align:left;}
.css_blk_0 {vertical-align:middle;text-align:left;}
.css_tp_id_fil_line {width:20px;}
.css_tp_id_fil_obj {width:20px;}
