.css_tm_idmitra__label { }
.css_tm_idmitra__line { }
.css_tm_idmitra__obj { }
.css_tm_namamitra__label { }
.css_tm_namamitra__line { }
.css_tm_namamitra__obj { }
.css_tm_divre__label { }
.css_tm_divre__line {text-align:left;}
.css_tm_divre__obj {text-align:left;}
.css_tm_witel__label { }
.css_tm_witel__line {text-align:left;}
.css_tm_witel__obj {text-align:left;}
