.css_L1C1_label {text-align:center;vertical-align:middle;}
.css_L1C2_label {text-align:center;vertical-align:middle;}
.css_L1C3_label {text-align:center;vertical-align:middle;}
.css_L1C4_label {text-align:center;vertical-align:middle;}
.css_L1C5_label {}
.css_L1C6_label {}
.css_ppo_projectid_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_ppo_projectid_grid_line {vertical-align: top;text-align: right;}
.css_ppo_status_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_ppo_status_grid_line {vertical-align: top;text-align: left;}
.css_ppo_tahapanproject_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_ppo_tahapanproject_grid_line {vertical-align: top;text-align: right;}
.css_ppo_tasknumber_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_ppo_tasknumber_grid_line {vertical-align: top;text-align: right;}
.css_targetplanfinish_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_targetplanfinish_grid_line {vertical-align: top;text-align: center;}
.css_now_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_now_grid_line {vertical-align: top;text-align: center;}
.css_ppo_targethari_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_ppo_targethari_grid_line {vertical-align: top;text-align: right;}
.css_selisih_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_selisih_grid_line {vertical-align: top;text-align: right;}
