.css_mw_kodewitel__label { }
.css_mw_kodewitel__line { }
.css_mw_kodewitel__obj { }
.css_mw_namawitel__label { }
.css_mw_namawitel__line { }
.css_mw_namawitel__obj { }
.css_mw_idwitel__label { }
.css_mw_idwitel__line {text-align:left;}
.css_mw_idwitel__obj {text-align:left;}
.css_mw_iddivre__label { }
.css_mw_iddivre__line {text-align:left;}
.css_mw_iddivre__obj {text-align:left;}
