.css_tp_id_det_label {text-align: right;vertical-align: middle;}
.css_tp_id_det_line {height:0px;text-align: right;}
.css_tp_templateproject_det_label {text-align: right;vertical-align: middle;}
.css_tp_templateproject_det_line {height:0px;text-align: right;}
.css_tp_jenisproject_det_label {text-align: right;vertical-align: middle;}
.css_tp_jenisproject_det_line {height:0px;text-align: right;}
.css_tp_status_det_label {text-align: right;vertical-align: middle;}
.css_tp_status_det_line {height:0px;text-align: right;}
.css_tp_prosentase_det_label {text-align: right;vertical-align: middle;}
.css_tp_prosentase_det_line {height:0px;text-align: right;}
.css_tp_tahapanaktif_det_label {text-align: right;vertical-align: middle;}
.css_tp_tahapanaktif_det_line {height:0px;text-align: right;}
.css_tp_taskaktif_det_label {text-align: right;vertical-align: middle;}
.css_tp_taskaktif_det_line {height:0px;text-align: right;}
