.css_tp_id_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_tp_id_grid_line {vertical-align: top;text-align: right;}
.css_tp_templateproject_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_tp_templateproject_grid_line {vertical-align: top;text-align: right;}
.css_tp_jenisproject_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_tp_jenisproject_grid_line {vertical-align: top;text-align: right;}
.css_tp_status_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_tp_status_grid_line {vertical-align: top;text-align: right;}
.css_tp_prosentase_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_tp_prosentase_grid_line {vertical-align: top;text-align: right;}
.css_tp_tahapanaktif_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_tp_tahapanaktif_grid_line {vertical-align: top;text-align: left;}
.css_tp_taskaktif_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_tp_taskaktif_grid_line {vertical-align: top;text-align: left;}
.css_prosentase_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_prosentase_grid_line {text-align: right;}
