.css_prepare_label { }
.css_prepare_line { }
.css_prepare_obj {text-align:right;}
.css_perijinan_label { }
.css_perijinan_line { }
.css_perijinan_obj {text-align:right;}
.css_inst_testcomm_label { }
.css_inst_testcomm_line { }
.css_inst_testcomm_obj {text-align:right;}
.css_idproject_label { }
.css_idproject_line { }
.css_idproject_obj { }
.css_tahapanproject_label { }
.css_tahapanproject_line { }
.css_tahapanproject_obj { }
.css_templateproject_label { }
.css_templateproject_line { }
.css_templateproject_obj { }
