.css_tp_id_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_tp_id_grid_line {vertical-align: top;text-align: right;}
.css_tp_batch_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_tp_batch_grid_line {vertical-align: top;text-align: left;}
.css_tp_projectname_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_tp_projectname_grid_line {vertical-align: top;text-align: left;}
.css_tp_lokasi_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_tp_lokasi_grid_line {vertical-align: top;text-align: left;}
.css_tp_mitra_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_tp_mitra_grid_line {vertical-align: top;text-align: right;}
.css_tp_witel_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_tp_witel_grid_line {vertical-align: top;text-align: right;}
.css_tp_sto_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_tp_sto_grid_line {vertical-align: top;text-align: right;}
.css_tp_odp_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_tp_odp_grid_line {vertical-align: top;text-align: right;}
.css_tp_planstart_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_tp_planstart_grid_line {vertical-align: top;text-align: center;}
.css_tp_planfinish_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_tp_planfinish_grid_line {vertical-align: top;text-align: center;}
.css_tp_entrydate_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_tp_entrydate_grid_line {vertical-align: top;text-align: center;}
.css_tp_entryby_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_tp_entryby_grid_line {vertical-align: top;text-align: left;}
.css_tp_updatedate_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_tp_updatedate_grid_line {vertical-align: top;text-align: center;}
.css_tp_updateby_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_tp_updateby_grid_line {vertical-align: top;text-align: left;}
.css_tp_summary_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_tp_summary_grid_line {vertical-align: top;text-align: left;}
.css_tp_status_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_tp_status_grid_line {vertical-align: top;text-align: right;}
.css_tp_actualstart_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_tp_actualstart_grid_line {vertical-align: top;text-align: center;}
.css_tp_actualfinish_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_tp_actualfinish_grid_line {vertical-align: top;text-align: center;}
.css_tp_templateproject_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_tp_templateproject_grid_line {vertical-align: top;text-align: right;}
.css_tp_jenisproject_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_tp_jenisproject_grid_line {vertical-align: top;text-align: right;}
.css_tp_prjtrelease_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_tp_prjtrelease_grid_line {vertical-align: top;text-align: right;}
.css_tp_targetwaktu_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_tp_targetwaktu_grid_line {vertical-align: top;text-align: right;}
.css_tp_datel_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_tp_datel_grid_line {vertical-align: top;text-align: right;}
.css_tp_nokontrak_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_tp_nokontrak_grid_line {vertical-align: top;text-align: left;}
.css_tp_ponumber_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_tp_ponumber_grid_line {vertical-align: top;text-align: left;}
.css_ppo_id_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_ppo_id_grid_line {vertical-align: top;text-align: right;}
.css_ppo_projectid_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_ppo_projectid_grid_line {vertical-align: top;text-align: right;}
.css_ppo_tahapanproject_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_ppo_tahapanproject_grid_line {vertical-align: top;text-align: right;}
.css_ppo_tasktahapan_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_ppo_tasktahapan_grid_line {vertical-align: top;text-align: left;}
.css_ppo_entrydate_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_ppo_entrydate_grid_line {vertical-align: top;text-align: center;}
.css_ppo_entryby_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_ppo_entryby_grid_line {vertical-align: top;text-align: left;}
.css_ppo_updatedate_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_ppo_updatedate_grid_line {vertical-align: top;text-align: center;}
.css_ppo_updateby_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_ppo_updateby_grid_line {vertical-align: top;text-align: left;}
.css_ppo_note_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_ppo_note_grid_line {vertical-align: top;text-align: left;}
.css_ppo_evident_one_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_ppo_evident_one_grid_line {vertical-align: top;text-align: left;}
.css_ppo_evident_two_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_ppo_evident_two_grid_line {vertical-align: top;text-align: left;}
.css_ppo_evident_three_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_ppo_evident_three_grid_line {vertical-align: top;text-align: left;}
.css_ppo_status_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_ppo_status_grid_line {vertical-align: top;text-align: left;}
.css_ppo_tglmulaiplan_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_ppo_tglmulaiplan_grid_line {vertical-align: top;text-align: center;}
.css_ppo_targethari_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_ppo_targethari_grid_line {vertical-align: top;text-align: right;}
.css_ppo_targetselesai_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_ppo_targetselesai_grid_line {vertical-align: top;text-align: center;}
.css_ppo_tglmulaiactual_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_ppo_tglmulaiactual_grid_line {vertical-align: top;text-align: center;}
.css_ppo_tglselesaiactual_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_ppo_tglselesaiactual_grid_line {vertical-align: top;text-align: center;}
.css_ppo_tasknumber_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_ppo_tasknumber_grid_line {vertical-align: top;text-align: right;}
.css_ppo_realaktual_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_ppo_realaktual_grid_line {vertical-align: top;text-align: right;}
.css_statusname_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_statusname_grid_line {vertical-align: top;text-align: left;}
.css_ms_namasto_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_ms_namasto_grid_line {vertical-align: top;text-align: left;}
.css_md_namadatel_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_md_namadatel_grid_line {vertical-align: top;text-align: left;}
.css_tm_namamitra_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_tm_namamitra_grid_line {vertical-align: top;text-align: left;}
.css_statusproject_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_statusproject_grid_line {vertical-align: top;text-align: left;}
