.scAppDivHeaderText { text-align: right }
.scAppDivContentText { text-align: right }
.scAppDivToolbar { text-align: right }
.scAppDivToolbarInput { text-align: right }
.scAppDivSelectFieldsEnabled { text-align: right }
.scAppDivSelectFieldsDisabled { text-align: right }
.scAppDivSelectBoxEnabled { text-align: right }
.scAppDivSelectBoxDisabled { text-align: right }
