.css_NM_Count_cnt_field {text-align: right}
.css_v_project_lokasi_tp_odp_sum_label {color: #0000FF; text-align: right; vertical-align: top}
.css_v_project_lokasi_tp_odp_sum_field {color: #0000FF; text-align: right; vertical-align: top}
.css___nm_count_nm___cnt_label {text-align: right; vertical-align: top}
.css___nm_count_nm___cnt_field {text-align: right; vertical-align: top}
