.css_L1C1_label {text-align:center;vertical-align:middle;}
.css_L1C2_label {text-align:center;vertical-align:middle;}
.css_L1C3_label {text-align:center;vertical-align:middle;}
.css_L1C4_label {text-align:center;vertical-align:middle;}
.css_L1C5_label {}
.css_L1C6_label {}
.css_L1C7_label {}
.css_L1C8_label {}
.css_L1C9_label {}
.css_L1C10_label {}
.css_tp_id_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_tp_id_grid_line {vertical-align: top;text-align: right;}
.css_tp_mitra_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_tp_mitra_grid_line {vertical-align: top;text-align: right;}
.css_tp_odp_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_tp_odp_grid_line {vertical-align: top;text-align: right;}
.css_tp_planstart_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_tp_planstart_grid_line {vertical-align: top;text-align: center;}
.css_tp_planfinish_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_tp_planfinish_grid_line {vertical-align: top;text-align: center;}
.css_tp_divre_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_tp_divre_grid_line {vertical-align: top;text-align: right;}
.css_tp_witel_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_tp_witel_grid_line {vertical-align: top;text-align: right;}
.css_tp_datel_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_tp_datel_grid_line {vertical-align: top;text-align: right;}
.css_tglsekarang_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_tglsekarang_grid_line {vertical-align: top;text-align: center;}
.css_sisawaktu_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_sisawaktu_grid_line {vertical-align: top;text-align: right;}
