.css_ms_kodesto__label { }
.css_ms_kodesto__line { }
.css_ms_kodesto__obj { }
.css_ms_namasto__label { }
.css_ms_namasto__line { }
.css_ms_namasto__obj { }
.css_ms_idsto__label { }
.css_ms_idsto__line {text-align:left;}
.css_ms_idsto__obj {text-align:left;}
.css_ms_datel__label { }
.css_ms_datel__line { }
.css_ms_datel__obj { }
.css_ms_witel__label { }
.css_ms_witel__line {text-align:left;}
.css_ms_witel__obj {text-align:left;}
