.css_NM_Count_cnt_field {text-align: right}
.css_tp_odp_sum_label {text-align: right; vertical-align: top}
.css_tp_odp_sum_field {text-align: right; vertical-align: top}
.css_tp_id_cnt_label {text-align: right; vertical-align: top}
.css_tp_id_cnt_field {text-align: right; vertical-align: top}
