.css_tp_witel_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_tp_witel_grid_line {vertical-align: top;text-align: right;}
.css_tp_datel_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_tp_datel_grid_line {vertical-align: top;text-align: right;}
.css_tp_divre_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_tp_divre_grid_line {vertical-align: top;text-align: right;}
.css_tj_namajenis_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_tj_namajenis_grid_line {vertical-align: top;text-align: right;}
.css_md_kodedatel_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_md_kodedatel_grid_line {vertical-align: top;text-align: right;}
.css_tp_id_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_tp_id_grid_line {vertical-align: top;text-align: right;}
.css_tp_odp_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_tp_odp_grid_line {vertical-align: top;text-align: right;}
.css_keterangan_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_keterangan_grid_line {vertical-align: top;text-align: right;}
