.css_ppo_id_label { }
.css_ppo_id_line {text-align:left;}
.css_ppo_id_obj {text-align:left;}
.css_ppo_projectid_label { }
.css_ppo_projectid_line {text-align:left;}
.css_ppo_projectid_obj {text-align:left;}
.css_ppo_tahapanproject_label { }
.css_ppo_tahapanproject_line { }
.css_ppo_tahapanproject_obj { }
.css_ppo_tasktahapan_label { }
.css_ppo_tasktahapan_line { }
.css_ppo_tasktahapan_obj { }
.css_ppo_note_label { }
.css_ppo_note_line { }
.css_ppo_note_obj { }
.css_ppo_evident_one_label { }
.css_ppo_evident_one_line { }
.css_ppo_evident_one_obj { }
.css_ppo_status_label { }
.css_ppo_status_line { }
.css_ppo_status_obj { }
.css_ppo_tglmulaiplan_label { }
.css_ppo_tglmulaiplan_line { }
.css_ppo_tglmulaiplan_obj { }
.css_ppo_targethari_label { }
.css_ppo_targethari_line {text-align:left;}
.css_ppo_targethari_obj {text-align:left;}
.css_ppo_targetselesai_label { }
.css_ppo_targetselesai_line { }
.css_ppo_targetselesai_obj { }
.css_ppo_tglmulaiactual_label { }
.css_ppo_tglmulaiactual_line { }
.css_ppo_tglmulaiactual_obj { }
.css_ppo_tglselesaiactual_label { }
.css_ppo_tglselesaiactual_line { }
.css_ppo_tglselesaiactual_obj { }
.css_ppo_idtasktahapan_label { }
.css_ppo_idtasktahapan_line {text-align:left;}
.css_ppo_idtasktahapan_obj {text-align:left;}
.css_keterangan_label { }
.css_keterangan_line { }
.css_keterangan_obj { }
