.css_tp_id_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_tp_id_grid_line {vertical-align: top;text-align: right;}
.css_tp_thn_release_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_tp_thn_release_grid_line {vertical-align: top;text-align: right;}
.css_tp_prjtrelease_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_tp_prjtrelease_grid_line {vertical-align: top;text-align: right;}
.css_tp_batch_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_tp_batch_grid_line {vertical-align: top;text-align: right;}
.css_mw_namawitel_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_mw_namawitel_grid_line {vertical-align: top;text-align: right;}
.css_md_namadatel_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_md_namadatel_grid_line {vertical-align: top;text-align: right;}
.css_ms_namasto_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_ms_namasto_grid_line {vertical-align: top;text-align: right;}
.css_templatename_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_templatename_grid_line {vertical-align: top;text-align: right;}
.css_statusname_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_statusname_grid_line {vertical-align: top;text-align: right;}
.css_tm_namamitra_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_tm_namamitra_grid_line {vertical-align: top;text-align: right;}
.css_tp_projectname_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_tp_projectname_grid_line {vertical-align: top;text-align: right;}
.css_tp_rab_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_tp_rab_grid_line {vertical-align: top;text-align: right;}
.css_tp_nilai_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_tp_nilai_grid_line {vertical-align: top;text-align: right;}
.css_tp_lokasi_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_tp_lokasi_grid_line {vertical-align: top;text-align: right;}
.css_tp_odp_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_tp_odp_grid_line {vertical-align: top;text-align: right;}
.css_tp_planstart_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_tp_planstart_grid_line {vertical-align: top;text-align: center;}
.css_tp_planfinish_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_tp_planfinish_grid_line {vertical-align: top;text-align: center;}
.css_tp_summary_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_tp_summary_grid_line {vertical-align: top;text-align: right;}
.css_tp_status_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_tp_status_grid_line {vertical-align: top;text-align: right;}
.css_tp_jenisproject_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_tp_jenisproject_grid_line {vertical-align: top;text-align: right;}
.css_tp_targetwaktu_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_tp_targetwaktu_grid_line {vertical-align: top;text-align: right;}
.css_realisasi_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_realisasi_grid_line {vertical-align: top;text-align: right;}
.css_tp_releasename_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_tp_releasename_grid_line {vertical-align: top;text-align: right;}
.css_tj_namajenis_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_tj_namajenis_grid_line {vertical-align: top;text-align: right;}
.css_prepare_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_prepare_grid_line {text-align: center;}
.css_perijinan_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_perijinan_grid_line {text-align: center;}
.css_inst_testcomm_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_inst_testcomm_grid_line {text-align: center;}
.css_closing_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_closing_grid_line {text-align: center;}
.css_pencapaian_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_pencapaian_grid_line {text-align: center;}
.css_tp_mitra_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_tp_mitra_grid_line {vertical-align: top;text-align: right;}
.css_tp_witel_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_tp_witel_grid_line {vertical-align: top;text-align: right;}
