.css_tp_id_label { }
.css_tp_id_line {text-align:left;}
.css_tp_id_obj {text-align:left;}
.css_tp_batch_label { }
.css_tp_batch_line { }
.css_tp_batch_obj { }
.css_tp_projectname_label { }
.css_tp_projectname_line { }
.css_tp_projectname_obj { }
.css_tp_lokasi_label { }
.css_tp_lokasi_line { }
.css_tp_lokasi_obj { }
.css_tp_mitra_label { }
.css_tp_mitra_line { }
.css_tp_mitra_obj { }
.css_tp_witel_label { }
.css_tp_witel_line { }
.css_tp_witel_obj { }
.css_tp_sto_label { }
.css_tp_sto_line { }
.css_tp_sto_obj { }
.css_tp_planstart_label { }
.css_tp_planstart_line { }
.css_tp_planstart_obj { }
.css_tp_planfinish_label { }
.css_tp_planfinish_line { }
.css_tp_planfinish_obj { }
.css_tp_summary_label { }
.css_tp_summary_line { }
.css_tp_summary_obj { }
.css_tp_status_label { }
.css_tp_status_line { }
.css_tp_status_obj { }
.css_tp_templateproject_label { }
.css_tp_templateproject_line {text-align:left;}
.css_tp_templateproject_obj {text-align:left;}
.css_tp_jenisproject_label { }
.css_tp_jenisproject_line {text-align:left;}
.css_tp_jenisproject_obj {text-align:left;}
.css_tp_prjtrelease_label { }
.css_tp_prjtrelease_line {text-align:left;}
.css_tp_prjtrelease_obj {text-align:left;}
.css_tp_targetwaktu_label { }
.css_tp_targetwaktu_line {text-align:left;}
.css_tp_targetwaktu_obj {text-align:left;}
.css_tp_datel_label { }
.css_tp_datel_line {text-align:left;}
.css_tp_datel_obj {text-align:left;}
.css_tp_nokontrak_label { }
.css_tp_nokontrak_line { }
.css_tp_nokontrak_obj { }
.css_tp_ponumber_label { }
.css_tp_ponumber_line { }
.css_tp_ponumber_obj { }
.css_tp_divre_label { }
.css_tp_divre_line {text-align:left;}
.css_tp_divre_obj {text-align:left;}
.css_tp_idlop_label { }
.css_tp_idlop_line { }
.css_tp_idlop_obj { }
.css_tp_namalop_label { }
.css_tp_namalop_line { }
.css_tp_namalop_obj { }
.css_tp_nilai_label { }
.css_tp_nilai_line {text-align:left;}
.css_tp_nilai_obj {text-align:left;}
.css_tp_rab_label { }
.css_tp_rab_line {text-align:left;}
.css_tp_rab_obj {text-align:left;}
.css_tp_jmldistribusi_label { }
.css_tp_jmldistribusi_line {text-align:left;}
.css_tp_jmldistribusi_obj {text-align:left;}
.css_tp_thn_release_label { }
.css_tp_thn_release_line { }
.css_tp_thn_release_obj { }
