.css_nomortahapan_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_nomortahapan_grid_line {vertical-align: top;text-align: right;}
.css_ppo_tasktahapan_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_ppo_tasktahapan_grid_line {vertical-align: top;text-align: right;}
.css_ppo_targethari_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_ppo_targethari_grid_line {vertical-align: top;text-align: right;}
.css_acumtarget_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_acumtarget_grid_line {vertical-align: top;text-align: right;}
.css_ppo_realaktual_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_ppo_realaktual_grid_line {vertical-align: top;text-align: right;}
.css_acumreal_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_acumreal_grid_line {vertical-align: top;text-align: right;}
