.css_detail_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_detail_grid_line {font-size:10px;text-align: center;}
.css_detail2_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_detail2_grid_line {font-size:10px;text-align: center;}
.css_tp_id_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_tp_id_grid_line {vertical-align: top;text-align: right;}
.css_tp_idlop_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_tp_idlop_grid_line {vertical-align: top;text-align: right;}
.css_mw_namawitel_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_mw_namawitel_grid_line {vertical-align: top;text-align: right;}
.css_md_namadatel_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_md_namadatel_grid_line {vertical-align: top;text-align: right;}
.css_ms_namasto_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_ms_namasto_grid_line {vertical-align: top;text-align: right;}
.css_statusname_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_statusname_grid_line {vertical-align: top;text-align: right;}
.css_tm_namamitra_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_tm_namamitra_grid_line {vertical-align: top;text-align: right;}
.css_tp_projectname_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_tp_projectname_grid_line {vertical-align: top;text-align: right;}
.css_tp_releasename_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_tp_releasename_grid_line {vertical-align: top;text-align: right;}
.css_tj_namajenis_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_tj_namajenis_grid_line {vertical-align: top;text-align: right;}
.css_tp_lokasi_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_tp_lokasi_grid_line {vertical-align: top;text-align: right;}
.css_tp_odp_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_tp_odp_grid_line {vertical-align: top;text-align: right;}
.css_tp_planstart_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_tp_planstart_grid_line {vertical-align: top;text-align: center;}
.css_tp_planfinish_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_tp_planfinish_grid_line {vertical-align: top;text-align: center;}
.css_tp_targetwaktu_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_tp_targetwaktu_grid_line {vertical-align: top;text-align: right;}
.css_tp_prosentase_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_tp_prosentase_grid_line {vertical-align: top;text-align: right;}
.css_tp_batch_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_tp_batch_grid_line {vertical-align: top;text-align: right;}
.css_tp_mitra_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_tp_mitra_grid_line {vertical-align: top;text-align: right;}
.css_tp_divre_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_tp_divre_grid_line {vertical-align: top;text-align: right;}
.css_tp_witel_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_tp_witel_grid_line {vertical-align: top;text-align: right;}
.css_tp_sto_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_tp_sto_grid_line {vertical-align: top;text-align: right;}
.css_tp_entrydate_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_tp_entrydate_grid_line {vertical-align: top;text-align: center;}
.css_tp_entryby_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_tp_entryby_grid_line {vertical-align: top;text-align: right;}
.css_tp_updatedate_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_tp_updatedate_grid_line {vertical-align: top;text-align: center;}
.css_tp_updateby_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_tp_updateby_grid_line {vertical-align: top;text-align: right;}
.css_tp_summary_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_tp_summary_grid_line {vertical-align: top;text-align: right;}
.css_tp_status_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_tp_status_grid_line {vertical-align: top;text-align: right;}
.css_tp_actualstart_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_tp_actualstart_grid_line {vertical-align: top;text-align: center;}
.css_tp_actualfinish_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_tp_actualfinish_grid_line {vertical-align: top;text-align: center;}
.css_tp_templateproject_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_tp_templateproject_grid_line {vertical-align: top;text-align: right;}
.css_tp_jenisproject_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_tp_jenisproject_grid_line {vertical-align: top;text-align: right;}
.css_tp_prjtrelease_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_tp_prjtrelease_grid_line {vertical-align: top;text-align: right;}
.css_tp_datel_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_tp_datel_grid_line {vertical-align: top;text-align: right;}
.css_templatename_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_templatename_grid_line {vertical-align: top;text-align: right;}
.css_tp_nokontrak_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_tp_nokontrak_grid_line {vertical-align: top;text-align: right;}
.css_tp_ponumber_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_tp_ponumber_grid_line {vertical-align: top;text-align: right;}
