.css_tb_tahapan_project_idtable_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_tb_tahapan_project_idtable_grid_line {vertical-align: top;text-align: right;}
.css_tb_tahapan_project_templateproject_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_tb_tahapan_project_templateproject_grid_line {vertical-align: top;text-align: right;}
.css_tb_master_template_templatename_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_tb_master_template_templatename_grid_line {vertical-align: top;text-align: right;}
.css_tb_tahapan_project_projectphaseid_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_tb_tahapan_project_projectphaseid_grid_line {vertical-align: top;text-align: right;}
.css_tb_mas_tahapan_tmt_namatahapan_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_tb_mas_tahapan_tmt_namatahapan_grid_line {vertical-align: top;text-align: right;}
.css_tb_tahapan_project_phasetarget_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_tb_tahapan_project_phasetarget_grid_line {vertical-align: top;text-align: right;}
.css_tb_tahapan_project_updatedate_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_tb_tahapan_project_updatedate_grid_line {vertical-align: top;text-align: center;}
.css_tb_tahapan_project_updateby_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_tb_tahapan_project_updateby_grid_line {vertical-align: top;text-align: right;}
