.css_tm_idmitra_det_label {text-align: right;vertical-align: middle;}
.css_tm_idmitra_det_line {height:0px;text-align: right;}
.css_tm_namamitra_det_label {text-align: right;vertical-align: middle;}
.css_tm_namamitra_det_line {height:0px;text-align: right;}
.css_tm_entrydate_det_label {text-align: right;vertical-align: middle;}
.css_tm_entrydate_det_line {height:0px;text-align: right;}
.css_tm_entryby_det_label {text-align: right;vertical-align: middle;}
.css_tm_entryby_det_line {height:0px;text-align: right;}
.css_tm_updatedate_det_label {text-align: right;vertical-align: middle;}
.css_tm_updatedate_det_line {height:0px;text-align: right;}
.css_tm_updateby_det_label {text-align: right;vertical-align: middle;}
.css_tm_updateby_det_line {height:0px;text-align: right;}
.css_tm_divre_det_label {text-align: right;vertical-align: middle;}
.css_tm_divre_det_line {height:0px;text-align: right;}
.css_tm_witel_det_label {text-align: right;vertical-align: middle;}
.css_tm_witel_det_line {height:0px;text-align: right;}
.css_mw_kodewitel_det_label {text-align: right;vertical-align: middle;}
.css_mw_kodewitel_det_line {height:0px;text-align: right;}
.css_mw_namawitel_det_label {text-align: right;vertical-align: middle;}
.css_mw_namawitel_det_line {height:0px;text-align: right;}
.css_md_kodedivre_det_label {text-align: right;vertical-align: middle;}
.css_md_kodedivre_det_line {height:0px;text-align: right;}
.css_md_namadivre_det_label {text-align: right;vertical-align: middle;}
.css_md_namadivre_det_line {height:0px;text-align: right;}
