.css_tm_idmitra_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_tm_idmitra_grid_line {vertical-align: top;text-align: right;}
.css_tm_namamitra_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_tm_namamitra_grid_line {vertical-align: top;text-align: left;}
.css_tm_divre_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_tm_divre_grid_line {vertical-align: top;text-align: right;}
.css_tm_witel_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_tm_witel_grid_line {vertical-align: top;text-align: right;}
.css_mw_kodewitel_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_mw_kodewitel_grid_line {vertical-align: top;text-align: left;}
.css_mw_namawitel_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_mw_namawitel_grid_line {vertical-align: top;text-align: left;}
.css_md_kodedivre_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_md_kodedivre_grid_line {vertical-align: top;text-align: left;}
.css_md_namadivre_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_md_namadivre_grid_line {vertical-align: top;text-align: left;}
