.css_idtemplate__label { }
.css_idtemplate__line {text-align:left;}
.css_idtemplate__obj {text-align:left;}
.css_templatename__label { }
.css_templatename__line { }
.css_templatename__obj { }
.css_deskripsi__label { }
.css_deskripsi__line { }
.css_deskripsi__obj { }
.css_targetwaktu__label { }
.css_targetwaktu__line { }
.css_targetwaktu__obj { }
.css_idwitel__label { }
.css_idwitel__line {text-align:left;}
.css_idwitel__obj {text-align:left;}
.css_iddivre__label { }
.css_iddivre__line {text-align:left;}
.css_iddivre__obj {text-align:left;}
