.css_idtemplate_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_idtemplate_grid_line {vertical-align: top;text-align: right;}
.css_templatename_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_templatename_grid_line {vertical-align: top;text-align: left;}
.css_deskripsi_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_deskripsi_grid_line {vertical-align: top;text-align: left;}
.css_entrydate_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_entrydate_grid_line {vertical-align: top;text-align: center;}
.css_updatedate_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_updatedate_grid_line {vertical-align: top;text-align: center;}
.css_udateby_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_udateby_grid_line {vertical-align: top;text-align: left;}
.css_targetwaktu_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_targetwaktu_grid_line {vertical-align: top;text-align: right;}
