.css_tp_release__label {text-align:right;}
.css_tp_release__line {text-align:right;}
.css_tp_release__obj {text-align:left;}
.css_tp_releasename__label { }
.css_tp_releasename__line { }
.css_tp_releasename__obj { }
.css_tp_deskripsi__label { }
.css_tp_deskripsi__line { }
.css_tp_deskripsi__obj { }
