.css_tpp_idtable_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_tpp_idtable_grid_line {vertical-align: top;text-align: right;}
.css_tpp_templateproject_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_tpp_templateproject_grid_line {vertical-align: top;text-align: right;}
.css_tpp_idproject_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_tpp_idproject_grid_line {vertical-align: top;text-align: right;}
.css_tpp_projectphase_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_tpp_projectphase_grid_line {vertical-align: top;text-align: right;}
.css_tpp_projectphasevalue_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_tpp_projectphasevalue_grid_line {vertical-align: top;text-align: right;}
.css_tpp_prosentaseproject_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_tpp_prosentaseproject_grid_line {vertical-align: top;text-align: right;}
.css_tpp_tglmulaiplan_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_tpp_tglmulaiplan_grid_line {vertical-align: top;text-align: center;}
.css_tpp_tglmulaiactual_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_tpp_tglmulaiactual_grid_line {vertical-align: top;text-align: center;}
.css_tpp_tglselesaiplan_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_tpp_tglselesaiplan_grid_line {vertical-align: top;text-align: center;}
.css_tpp_tglselesaiactual_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_tpp_tglselesaiactual_grid_line {vertical-align: top;text-align: center;}
