.css_NM_Count_cnt_field {text-align: right}
.css_tp_odp_sum_label {text-align: right; vertical-align: top}
.css_tp_odp_sum_field {text-align: right; vertical-align: top}
.css_tp_rab_sum_label {text-align: right; vertical-align: top}
.css_tp_rab_sum_field {text-align: right; vertical-align: top}
.css_tp_nilai_sum_label {text-align: right; vertical-align: top}
.css_tp_nilai_sum_field {text-align: right; vertical-align: top}
.css_closing_avg_label {text-align: right; vertical-align: top}
.css_closing_avg_field {text-align: right; vertical-align: top}
.css_inst_testcomm_avg_label {text-align: right; vertical-align: top}
.css_inst_testcomm_avg_field {text-align: right; vertical-align: top}
.css_pencapaian_avg_label {text-align: right; vertical-align: top}
.css_pencapaian_avg_field {text-align: right; vertical-align: top}
.css_perijinan_avg_label {text-align: right; vertical-align: top}
.css_perijinan_avg_field {text-align: right; vertical-align: top}
.css_prepare_avg_label {text-align: right; vertical-align: top}
.css_prepare_avg_field {text-align: right; vertical-align: top}
.css___nm_count_nm___cnt_label {text-align: right; vertical-align: top}
.css___nm_count_nm___cnt_field {text-align: right; vertical-align: top}
