.css_tmt_idtahapan__label {text-align:right;}
.css_tmt_idtahapan__line {text-align:right;}
.css_tmt_idtahapan__obj {text-align:left;}
.css_tmt_namatahapan__label { }
.css_tmt_namatahapan__line { }
.css_tmt_namatahapan__obj { }
.css_tmt_description__label { }
.css_tmt_description__line { }
.css_tmt_description__obj { }
