.css_tpmo_id__label { }
.css_tpmo_id__line {text-align:left;}
.css_tpmo_id__obj {text-align:left;}
.css_tpmo_projectid__label { }
.css_tpmo_projectid__line {text-align:left;}
.css_tpmo_projectid__obj {text-align:left;}
.css_tpmo_namanode__label { }
.css_tpmo_namanode__line { }
.css_tpmo_namanode__obj { }
.css_tpmo_awal__label { }
.css_tpmo_awal__line { }
.css_tpmo_awal__obj { }
.css_tpmo_jmlodp__label { }
.css_tpmo_jmlodp__line {text-align:left;}
.css_tpmo_jmlodp__obj {text-align:left;}
.css_tpmo_akhir__label { }
.css_tpmo_akhir__line { }
.css_tpmo_akhir__obj { }
.css_tpmo_merk__label { }
.css_tpmo_merk__line { }
.css_tpmo_merk__obj { }
.css_tpmo_kapport__label { }
.css_tpmo_kapport__line {text-align:left;}
.css_tpmo_kapport__obj {text-align:left;}
.css_tpmo_nosp__label { }
.css_tpmo_nosp__line { }
.css_tpmo_nosp__obj { }
