.css_md_kodedatel__label { }
.css_md_kodedatel__line { }
.css_md_kodedatel__obj { }
.css_md_namadatel__label { }
.css_md_namadatel__line { }
.css_md_namadatel__obj { }
.css_md_iddatel__label { }
.css_md_iddatel__line {text-align:left;}
.css_md_iddatel__obj {text-align:left;}
.css_md_idwitel__label { }
.css_md_idwitel__line {text-align:left;}
.css_md_idwitel__obj {text-align:left;}
