.css_templateproject_label { }
.css_templateproject_line { }
.css_templateproject_obj { }
.css_projectphaseid_label { }
.css_projectphaseid_line { }
.css_projectphaseid_obj { }
.css_phasetarget_label { }
.css_phasetarget_line {text-align:left;}
.css_phasetarget_obj {text-align:left;}
.css_idtable_label { }
.css_idtable_line {text-align:left;}
.css_idtable_obj {text-align:left;}
.css_detailtahapan_label { }
.css_detailtahapan_line { }
.css_detailtahapan_obj { }
