.css_NM_Count_cnt_field {text-align: right}
.css_tp_odp_sum_label {text-align: right; vertical-align: top}
.css_tp_odp_sum_field {text-align: right; vertical-align: top}
.css_realisasi_avg_label {text-align: right; vertical-align: top}
.css_realisasi_avg_field {text-align: right; vertical-align: top}
.css_realisasi_max_label {text-align: right; vertical-align: top}
.css_realisasi_max_field {text-align: right; vertical-align: top}
.css_realisasi_min_label {text-align: right; vertical-align: top}
.css_realisasi_min_field {text-align: right; vertical-align: top}
.css___nm_count_nm___cnt_label {text-align: right; vertical-align: top}
.css___nm_count_nm___cnt_field {text-align: right; vertical-align: top}
