.css_tpmo_id_label { }
.css_tpmo_id_line {text-align:left;}
.css_tpmo_id_obj {text-align:left;}
.css_tpmo_projectid_label { }
.css_tpmo_projectid_line {text-align:left;}
.css_tpmo_projectid_obj {text-align:left;}
.css_tpmo_namanode_label { }
.css_tpmo_namanode_line { }
.css_tpmo_namanode_obj { }
.css_tpmo_awal_label { }
.css_tpmo_awal_line { }
.css_tpmo_awal_obj { }
.css_tpmo_jmlodp_label { }
.css_tpmo_jmlodp_line {text-align:left;}
.css_tpmo_jmlodp_obj {text-align:left;}
.css_tpmo_akhir_label { }
.css_tpmo_akhir_line { }
.css_tpmo_akhir_obj { }
.css_tpmo_merk_label { }
.css_tpmo_merk_line { }
.css_tpmo_merk_obj { }
.css_tpmo_kapport_label { }
.css_tpmo_kapport_line {text-align:left;}
.css_tpmo_kapport_obj {text-align:left;}
.css_tpmo_nosp_label { }
.css_tpmo_nosp_line { }
.css_tpmo_nosp_obj { }
.css_detail_label { }
.css_detail_line { }
.css_detail_obj { }
