.css_po_id__label { }
.css_po_id__line {text-align:left;}
.css_po_id__obj {text-align:left;}
.css_po_witel__label { }
.css_po_witel__line { }
.css_po_witel__obj { }
.css_po_sto__label { }
.css_po_sto__line { }
.css_po_sto__obj { }
.css_po_tipenode__label { }
.css_po_tipenode__line { }
.css_po_tipenode__obj { }
.css_po_namanode__label { }
.css_po_namanode__line { }
.css_po_namanode__obj { }
.css_po_merk__label { }
.css_po_merk__line { }
.css_po_merk__obj { }
.css_po_kapport__label { }
.css_po_kapport__line {text-align:left;}
.css_po_kapport__obj {text-align:left;}
.css_po_alamatlokasi__label { }
.css_po_alamatlokasi__line { }
.css_po_alamatlokasi__obj { }
.css_po_latitude__label { }
.css_po_latitude__line { }
.css_po_latitude__obj { }
.css_po_longitude__label { }
.css_po_longitude__line { }
.css_po_longitude__obj { }
.css_po_mitra__label { }
.css_po_mitra__line { }
.css_po_mitra__obj { }
.css_po_nosp__label { }
.css_po_nosp__line { }
.css_po_nosp__obj { }
.css_po_tglbast__label { }
.css_po_tglbast__line { }
.css_po_tglbast__obj { }
.css_po_uraian__label { }
.css_po_uraian__line { }
.css_po_uraian__obj { }
.css_po_idproject__label { }
.css_po_idproject__line {text-align:left;}
.css_po_idproject__obj {text-align:left;}
.css_po_tpmoid__label { }
.css_po_tpmoid__line {text-align:left;}
.css_po_tpmoid__obj {text-align:left;}
