.css_nomortahapan_det_label {text-align: right;vertical-align: middle;}
.css_nomortahapan_det_line {height:0px;text-align: right;}
.css_ppo_tasktahapan_det_label {text-align: right;vertical-align: middle;}
.css_ppo_tasktahapan_det_line {height:0px;text-align: right;}
.css_ppo_targethari_det_label {text-align: right;vertical-align: middle;}
.css_ppo_targethari_det_line {height:0px;text-align: right;}
.css_acumtarget_det_label {text-align: right;vertical-align: middle;}
.css_acumtarget_det_line {height:0px;text-align: right;}
.css_ppo_realaktual_det_label {text-align: right;vertical-align: middle;}
.css_ppo_realaktual_det_line {height:0px;text-align: right;}
.css_acumreal_det_label {text-align: right;vertical-align: middle;}
.css_acumreal_det_line {height:0px;text-align: right;}
